body {
    font-family: Arial, sans-serif;
    background-color: #f3f0ff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4b1e78;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(75, 30, 120, 0.2);
    width: 350px;
    margin-top: 20px;
    border: 1px solid #9b5de5;
}

input {
    padding: 8px;
    width: 65%;
    margin-right: 5px;
    border: 1px solid #9b5de5;
    border-radius: 5px;
    background-color: #faf7ff;
    color: #4b1e78;
}

button {
    padding: 8px 12px;
    background-color: #9b5de5;
    /* mov */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.2s ease;
}

button:hover {
    background-color: #b280f0;
    box-shadow: 0 0 10px rgba(155, 93, 229, 0.4);
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #f7f2ff;
    margin: 5px 0;
    padding: 8px;
    border-left: 4px solid #9b5de5;
    color: #4b1e78;
}